body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(239, 229, 214);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 100px;
}

.buttons{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}